li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid indianred;
  font-weight: 700;
  text-transform: uppercase;
  background-color: peachpuff;
  margin-top: 20px;
}
button {
  outline: none;
  background-color: indianred;
  padding: 5px;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
