h1 {
  margin: 20px 0;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.nav a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.nav a + a {
  margin-left: 20px;
}
